<div class="header__container">
    <div class="header__container_titleBlock">
        <div class="contacts_block">
            <div class="contacts">
                <p class="contacts_mobile">+380630000000</p>
                <p class="contacts_address">Львів, вул. Сластіона,3</p>
            </div>
        </div>
        <div class="name_block">
            <a href="" class="name">
                <h3>PROSTIR</h3>
                <p>dance studio</p>
            </a>
        </div>
        <div class="call-me_block">
            <div class="call-me">
                <input type="button" value="Передзвоніть мені">
            </div>
        </div>
    </div>
    <div class="header__container_nav"></div>
</div>