<div class="container__contacts">
    <div class="container__contacts_title">КОНТАКТИ</div>
    <div class="container__contacts_info">
        <div class="info">
            <div class="info_wrap">
                <a href="tel:+80970000000">
                    <p>Соломія</p>
                    <p>+38 (097) 000-00-00</p>
                </a>
                <a href="tel:+80630000000">
                    <p>Віра</p>
                    <p>+38 (063) 000-00-00</p>
                </a>
                <a href="mailto:prostir@gmail.com">
                    <p>Email:</p>
                    <p>prostir@gmail.com</p>
                </a>
                <div>
                    <p>Соціальні мережі:</p>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1286.5838682968222!2d23.971276258110965!3d49.839305724696516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473addf4deba1609%3A0xc90a6aa951ae5e0!2z0LLRg9C70LjRhtGPINCh0LvQsNGB0YLRltC-0L3QsCwgMywg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1605710689837!5m2!1suk!2sua"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0">
            </iframe>
        </div>
    </div>
</div>